<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../../assets/css/font.css">
	<link rel="stylesheet" href="../../assets/css/main.css">
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/4.1.1/normalize.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="js/jquery-mousewheel/jquery.mousewheel.js"></script>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/media.css">

	<title>Document</title>
</head>
<body>

										<!--ПЕРВЫЙ ЭКРАН-->

<section  id="screen-1" class="screen-1 screen" >
	<header >
		<div class="container row">
			<div class="logoandmore">
				<div id="logo" class="logo">
					<img src="../../assets/img/logo.png" alt="">
				</div>
				<div class="freshmeat">
					<h2>БАРАШ-ОНЛАЙН</h2>
					<h5>СВЕЖЕЕ МЯСО НЕ ВЫХОДЯ ИЗ ДОМА</h5>
				</div>
			</div>
			<nav class="men row">
				<a href="#">ПРОДУКЦИЯ</a>
				<a href="#">АКЦИИ</a>
				<a href="#">ПАРТНЕРСТВО</a>
				<a href="#">О ПРОЕКТЕ</a>
				<a href="#">ВХОД</a>
			</nav>
		</div>
	</header>				
	<div class="screen-1__bottom">
		<div class="container">
			<div class="welcome">
				<h2>ДОБРО ПОЖАЛОВАТЬ НА <br> "БАРАШ ОНЛАЙН"</h2>
					<div class="bonline">
						<p>
							<h5>
								У нас вы можете заказать свежее мясо не выходя из дома. Мы доставляем товар в любую точку мира по выгодным ценам. Задача организации, в частности же сложившаяся структура организации требует от нас анализа соответствующий условий активизации. Повседневная практика показывает, что укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.
							</h5>
						</p>
					</div>
				<div class="button-rectangle">
					<a href="#">ЗАКАЗАТЬ</a>
				</div>
				
			</div>
		</div>
	<section class="screen-2 screen">
		<div class="screen-2__wrapper row ">
			<div class="screen-2__left-column"></div>
			<div class="screen-2__right-column"></div>
		</div>
	</section>

</div>
</section>


									<!--ВТОРОЙ ЭКРАН-->




<section class="screen-2">
		<div class="wrapper row">
								
								<!--LEFT COLUMNS-->

			<div class="screen-2__left-column">
				<div class="screen-2__left-column__two">
					
				</div>
			</div>

								<!--RIGHT COLUMNS-->
			<div class="screen-2__right-column">
				<div class="screen-2__right-column__opisan">
					<div class="screen-2__right-column__opisan__produk">
						<div class="screen-2__right-column__opisan__produk__obertk">
							<div class="screen-2__right-column__opisan__produk__obertk__opistext">
								<h2>
									НАШИ ПРОДУКТЫ
								</h2>
								<p>
									Задача организации, в особенности же сложившаяся структура организации требуют от нас анализа соответствующий условий активизации. Повседневная практика показывает, что
									 укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач.
								</p>
							</div>	
							<div class="screen-2__right-column__opisan__produk__obertk__baranopis">
								<div class="screen-2__right-column__opisan__produk__obertk__baranopis__imgopis">
									<img src="../../assets/img/Layer-4.png" >
								</div>
									<div class="screen-2__right-column__opisan__produk__obertk__baranopis____textopis">
										<p>
											Задача организации, в особенности же сложившаяся структура организации требуют от нас анализа соответствующий условий активизации. Повседневная практика показывает, что укрепление и развитие структуры требуют определения задач.
										</p>
									</div>	
							</div>
								<div class="screen-2__right-column__opisan__produk__obertk__baranopis">
								<div class="screen-2__right-column__opisan__produk__obertk__baranopis__imgopis">
									<img src="../../assets/img/Layer-5.png" >
								</div>
									<div class="screen-2__right-column__opisan__produk__obertk__baranopis____textopis">
										<p>
											Задача организации, в особенности же сложившаяся структура организации требуют от нас анализа соответствующий условий активизации. Повседневная практика показывает, что укрепление и развитие структуры требуют определения задач.
										</p>
									</div>	
							</div>
								<div class="screen-2__right-column__opisan__produk__obertk__baranopis">
								<div class="screen-2__right-column__opisan__produk__obertk__baranopis__imgopis">
									<img src="../../assets/img/Layer-6.png" >
								</div>
									<div class="screen-2__right-column__opisan__produk__obertk__baranopis____textopis">
										<p>
											Задача организации, в особенности же сложившаяся структура организации требуют от нас анализа соответствующий условий активизации. Повседневная практика показывает, что укрепление и развитие структуры требуют определения задач.
										</p>
									</div>	
							</div>
						</div>	
					</div>
				</div>
				
			</div>
		</div>
	</section>




												<!-- ТРЕТИЙ ЭКРАН -->


<section class="screen-3">
		<div class="screen-3__wrapper">
<footer class=" container">
				<div class=" logoandmoref">
					asdasdasdasd
				</div>
				
			</footer>

		</div>
			
		

</section>  		











		<script type="text/javascript">
/*	$(".screen").on('mousewheel', function(event) {
		onWheel(event, $(this));
	});
	

function onWheel(e, th) {
	console.log(e.deltaX, e.deltaY, e.deltaFactor);
	if (e.deltaY > 0 ){

			$(".screen-2").fadeIn(200, function(){
				$(".screen-2__left-column").animate({
					"left" : "0",
				}, 400);
				$(".screen-2__right-column").animate({
					"right" : "0",
				}, 400)
			})
  	}
  	else {
  		$(".screen-2").fadeOut(200, function(){
				$(".screen-2__left-column").animate({
					"left" : "-50%",
				}, 400);
				$(".screen-2__right-column").animate({
					"right" : "-50%",
				}, 400)
			})

  	};

 
}
 <!-- var elem = document.getElementById('logo');
if (elem.addEventListener) {
  if ('onwheel' in document) {
    // IE9+, FF17+, Ch31+
    elem.addEventListener("wheel", onWheel);
  } else if ('onmousewheel' in document) {
    // устаревший вариант события
    elem.addEventListener("mousewheel", onWheel);
  } else {
    // Firefox < 17
    elem.addEventListener("MozMousePixelScroll", onWheel);
  }
} else { // IE8-
  elem.attachEvent("onmousewheel", onWheel);
}

function onWheel(e) {
  e = e || window.event;

  // wheelDelta не дает возможность узнать количество пикселей
  var delta = e.deltaY || e.detail || e.wheelDelta;

  var info = document.getElementById('delta');

  info.innerHTML = +info.innerHTML + delta;

  e.preventDefault ? e.preventDefault() : (e.returnValue = false);
}
*/
</script> 
<script type="text/javascript">
	var elem = document.getElementById('screen-1');
	if (elem.addEventListener) {
  if ('onwheel' in document) {
    // IE9+, FF17+, Ch31+
    elem.addEventListener("wheel", onWheel);
  } else if ('onmousewheel' in document) {
    // устаревший вариант события
    elem.addEventListener("mousewheel", onWheel);
  } else {
    // Firefox < 17
    elem.addEventListener("MozMousePixelScroll", onWheel);
  }
} else { // IE8-
  elem.attachEvent("onmousewheel", onWheel);
}

function onWheel(e) {
  e = e || window.event;
			$(".screen-2").fadeIn(200, function(){
				$(".screen-2__left-column").animate({
					"left" : "0",
				}, 400);
				$(".screen-2__right-column").animate({
					"right" : "0",
				}, 400)
			});
 
  e.preventDefault ? e.preventDefault() : (e.returnValue = false);
}
		
	</script>
		

</body>
</html>